

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.footer {
 background: linear-gradient(135deg, hsl(217 91% 35%), hsl(211 100% 50%), hsl(199 89% 48%));
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}