
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.navbar {
  background: linear-gradient(135deg, hsl(217 91% 35%), hsl(211 100% 50%), hsl(199 89% 48%));
    padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;


 .logo {
  font-family: 'Orbitron', sans-serif;
  color:#ecdfdf;
  font-size: 24px;
  font-weight:bold ;
  
}

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;

    li a {
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: none;
    
      }
    }

    .login-btn {
      background:rgb(17, 42, 80);
      color: white;
      padding: 8px 15px;
      border-radius: 8px;
      font-weight: 600;
    }
  }
}
