/* src/styles/Register.scss */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, hsl(217 91% 35%), hsl(211 100% 50%), hsl(199 89% 48%));
  font-family: 'Poppins', sans-serif;
   color:rgb(27, 25, 25);
}

.register-box {
    background:white;
  padding: 40px 30px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4); /* subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.2); /* light border */

  .logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color:rgb(27, 25, 25);
  }

  h1 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      text-align: left;
      font-size: 13px;
      margin-bottom: 5px;
    }

    input {
      padding: 10px;
      border-radius: 8px;
      border: none;
      font-size: 14px;
      outline: none;
    }

    .sign-up-btn {
      padding: 12px;
      background: #0d47a1;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        background: #08306b;
      }
    }
  }

  .login-link {
    margin-top: 20px;
    font-size: 13px;

    .sign-in-btn {
      color: #0d47a1;
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .back-home {
    display: block;
    margin-top: 15px;
    color: #aaa;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}
